.createAd {
  font-family: "Roboto";

  .product-image-card {
    position: relative;
    border-radius: 25px;
    height: 400px;
    background: #e5e2e2;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .product-name-card {
    .product-name {
      flex: 0.7;
    }

    .product-price {
      flex: 0.3;
    }
  }

  .change-image {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .contact-link {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: white;
    text-decoration: underline;
  }

  label {
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 21px;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.45);
  }

  .fields-ctnr {
    padding: 0 0.8rem;
  }

  .react-autosuggest__container {
    margin-right: 5px;
    input {
      width: 100%;
    }
  }
}
