.template3-ctrn {
  background-color: white;
  height: 100%;
  #tri-top-right {
    width: 0;
    height: 0;
    border-top: 150px solid red;
    border-left: 200px solid transparent;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  #tri-middle-black {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 250px solid #333232;
    position: absolute;
    bottom: 0;
    left: -90px;
    transform: rotate(-15deg);
    z-index: 1;
  }
  #tri-bottom-left {
    width: 0;
    height: 0;
    border-bottom: 180px solid red;
    border-right: 225px solid transparent;

    position: absolute;
    bottom: 0;
    left: 0;
  }
  #tri-bottom-right {
    width: 0;
    height: 0;
    border-bottom: 375px solid red;
    border-left: 311px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .tri-mid-ctrn {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30vh;
    width: 100%;

    .child-ctnr {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }

  .product-image-ctrn {
    flex: 1;
    position: relative;
    width: 90%;
    z-index: 2;
    left: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
    padding: 1em;

    .child1 {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .top-right-lines {
      position: absolute;
      width: 50%;
      right: 0;
      top: 0;
    }

    .bottom-left-lines {
      position: absolute;
      width: 50%;
      left: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  .product-price {
    font-family: Rock Salt;
    font-style: normal;
    // font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
    background-color: #5a5a5a;
    display: inline-block;
  }

  .product-name {
    .child1-1 {
      background-color: white;
      text-align: left;
      font-family: Rock Salt;
      font-style: normal;
      // font-weight: bold;
      font-size: 1.5em;
      line-height: 47px;
      color: #333232;
    }
  }

  .product-desc {
    font-family: Oswald;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.2em;
    line-height: 31px;
    white-space: break-spaces;
    color: #ffffff;
    overflow: hidden;
    background-color: rgba(6, 6, 6, 0.6);
    display: inline-block;
  }

  .order-now {
    font-family: Oswald;
    font-weight: bold;
    font-size: 100%;
    background-color: #ffffff;
    color: rgba(6, 6, 6, 0.6);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 40%;
    white-space: nowrap;
    text-transform: uppercase;
  }

  .seller-name {
    font-family:  Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 22px;
    width: 100%;
    color: #ffffff;
  }

  .whatsapp-number {
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 31px;

    color: #ffffff;
  }

  .purple-ctnr {
    width: 80%;
    margin: auto;
  }

  .bottom-ctrn {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 2;
  }

  .seller-info-ctrn {
    // max-width: 50%;
  }
}
