.preview-ad-ctnr {
  position: relative;
  background-color: #222121;
  font-size: 15px;
  .previewAd {
    max-height: 926px;
    overflow: hidden;
    position: relative;
    background-color: white;
    width: 100%;
    background-repeat: no-repeat;
    user-select: none;
  }

  .download-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 10px;
    z-index: 2;
  }

  .edit-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 80px;
    z-index: 2;
  }

  .prev-btn {
    left: 0px;
    top: 40%;
    z-index: 2;
    transform: rotate(180deg);
  }

  .next-btn {
    right: 0px;
    top: 40%;
    z-index: 2;
  }

  .change-temp-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 220px;
    z-index: 2;
  }

  .change-color-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 150px;
    z-index: 2;
  }

  input.prev-btn, input.next-btn {
    position: absolute;
    transition: visibility 0s linear 0s, opacity 300ms;
    outline: none;
  }

  .fadeOut {
    opacity: 0;
    // width: 0;
    // height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  }
  .fadeIn {
    opacity: 1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0s;
  }

  .unsplash-attr-ctrn-fadeOut {
    opacity: 0;
    // width: 0;
    // height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s 0s;
  }

  .unsplash-attr-ctrn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    width: 100%;
    display: flex;
    font-family: Roboto;

    div {
      background-color: transparent;
      display: inline-block;
      font-size: 0.55rem;
      background-color: #3e3d3d;
    }

    a {
      color: white;
      text-decoration: underline;
    }
  }

  .logo-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: #3e3d3d;
    color: white;
    font-size: 0.6rem;
    opacity: 0.7;
  }

  .tabs-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
    border-top: 1px solid #d3d0d0;
  }
}

@media (max-width: 476px) {
  .preview-ad-ctnr {
    input.prev-btn, input.next-btn {
      position: fixed;
    }
  }
}
