.preview-ad-ctnr {
  position: relative;
  .previewAd {
    height: 100vh;
    max-height: 926px;
    overflow: hidden;
    position: relative;
    background-color: white;
    // padding: 2.5rem;
    // background-image: linear-gradient(#d4e8ff, rgb(157, 211, 184));
    background-repeat: no-repeat;
    user-select: none;
  }

  .download-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 10px;
    z-index: 2;
  }

  .edit-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 80px;
    z-index: 2;
  }

  .change-temp-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 220px;
    z-index: 2;
  }

  .change-color-btn {
    height: 70px;
    width: 70px;
    right: 10px;
    bottom: 150px;
    z-index: 2;
  }

  input {
    position: absolute;
    transition: visibility 0s linear 0s, opacity 300ms;
  }

  .fadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  }
  .fadeIn {
    opacity: 1;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0s;
  }

  .unsplash-attr-ctrn.fadeOut {
    opacity: 0;
    // width: 0;
    // height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  }

  .unsplash-attr-ctrn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: white;
    width: 100%;
    display: flex;
    font-family: Roboto;

    div{
      background-color: #3E3D3D;
      display: inline-block;
      font-size: 0.8rem;
    }

    a{
      color: white;
      text-decoration: underline;
    }
    
  }
}

@media (max-width: 476px) {
  .preview-ad-ctnr {
    input {
      position: fixed;
    }
  }
}
