.size-select-ctrn {
  background-color: #3e3d3d;
  font-family: "Roboto";

  .title {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
  }

  .btns-ctrn {
    width: 100%;

    .size-tile {
      border-radius: 3px;
      margin: 5px;
      font-size: 0.7rem;
      color: rgba(0, 0, 0, 0.45);
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;

      img {
        height: 0.9rem;
        width: 0.9rem;
      }
    }
  }
}
