.browse-image-container{
    // background-color: blue;
    height: 100%;
    .browseBtn{
        // width: 70%;
        background: rgba(196, 196, 196, 0.5);
        color: rgba(0, 0, 0, 0.6);
    }
}