@media (max-width: 476px) {
  .template-selection-modal-ctrn {
    .modal-dialog {
      margin: 0;
    }
  }
}

.template-selection-modal-ctrn {
  .modal-header {
    border: 0;
  }

  .modal-content {
    background-color: #e2e2e2;
  }

  .modal-body {
    padding: 0;
  }

  .small-select-btn {
    background: #3bc038 url("../../../assets//images/selectCheck.png") 32px 14px;
    color: white;
    max-width: 50%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    background-repeat: no-repeat;
    background-size: 15px;
  }

  .small-select-btn span {
    padding-left: 15px;
  }

  .card {
    border-radius: 0;
  }

  .carousel .slide img {
    width: 85%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  }

  h5 {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Roboto";
  }
}
