.welcome-ctnr {
    // flex: 1;

  .sub-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }

  .demo {
    img {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    }
  }
}
